<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
</head>
<body>
    <header>
        <h1>{% block header %} {% endblock %}</h1>
        <nav>
            <ul>
                <!-- <a href="{{ url_for('index') }}"><li>Home</li></a> -->
                <a href="{{ url_for('whois_start') }}"><li>Whois Lookup</li></a>
                <a href="{{ url_for('dns_lookup') }}"><li>DNS Lookup</li></a>
                <a href="{{ url_for('whois_list') }}"><li>My Domains</li></a>
                <a href="{{ url_for('security_menu') }}"><li>Web Security</li></a>
                <a href="{{ url_for('logout') }}"><li>Logout</li></a>
            </ul>
            <ul id="menu_security" display="none">
                <a href="{{ url_for('security_virustotal') }}"><li>VirusTotal</li></a>
                <a href="{{ url_for('security_certs') }}"><li>Certificates</li></a>
                <a href="{{ url_for('security_urlscan') }}"><li>URL Scan</li></a>
            </ul>
            <script type="text/javascript">

                // display security menu when security path is present
                if (document.location.pathname.includes("security")) document.getElementById("menu_security").style.display = "";
                else document.getElementById("menu_security").style.display = "none";
                
            </script>
        </nav>
    </header>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    <div id="notification-area"></div>
    <script type="text/javascript">
        var notificationCount = 0
        function showNotification(category, message) {
            var notif = document.createElement("div")
            notif.className = "notificationFlash"
            notif.innerText = message
            notif.classList.add(category)
            notif.classList.add("appearing")
            setTimeout( () => {
                document.getElementById("notification-area").appendChild(notif)
                setTimeout( () => {
                    notif.classList.remove("appearing")
                }, 400)
                setTimeout( () => {
                    notif.classList.add("disappearing")
                }, 3000)
                setTimeout( () => {
                    document.getElementById("notification-area").removeChild(notif)
                }, 4000)
            }, 500*notificationCount)
            notificationCount++
        }
    </script>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <script>
            {% for category, message in messages %}
            showNotification("{{ category }}", "{{ message }}")
            {% endfor %}
            </script>
        {% endif %}
    {% endwith %}
    {% block footer %} {% endblock %}
</body>

</html>