{% extends 'base.html' %}

{% block title %} My Domains {% endblock %}
{% block header %} My Domains {% endblock %}

{% block content %}
    <form method="GET">
        <fieldset class="fixedwidth">
            <label for="domain">Domain</label>
            <input type="text" name="domain" id="domain" placeholder="example.com">
            <input type="submit" value="Add">
        </fieldset>
    </form>
    {% if domains %}
        <table class=domains>
            <tr>
                <th>Domain Name</th>
                <th>Registrar</th>
                <th>Dates</th>
                <th>DNS Servers</th>
                <th>HTTP Servers</th>
                <th>JSON Data</th>
                <th>Actions</th>
            </tr>
        {% for lookedUpDomain, whoisValue, rootIPs, wwwIPs, rootASN, wwwASN in domains %}
            {% set whoisValueParsed = whoisValue|fromJson %}
        <tr>
            <td class="domain-list-name">{{ lookedUpDomain }}</td>
            <td class="domain-list-registrar">{{ whoisValueParsed.registrar }}</td>
            <td class="domain-list-dates"><ul>
                <li>Registered: {{ whoisValueParsed.creation_date|toLocateDateTime }}</li>
                <li>Updated: {{ whoisValueParsed.updated_date|toLocateDateTime }}</li>
                <li>Expires: {{ whoisValueParsed.expiration_date|toLocateDateTime }}</li>
            </ul></td>
            <td class="domain-list-dns"><ul>
                {% for server in whoisValueParsed.name_servers %}
                    <li>{{ server }}</li>
                {% endfor %}
            </ul></td>
            <td class="domain-list-http"><ul>
                {% if rootIPs and rootASN and wwwIPs and wwwASN %}
                <li>root: {{ rootIPs }}<br><pre>{{ rootASN.replace(",", ",\n") }}</pre></li>
                <li>www: {{ wwwIPs }}<br><pre>{{ wwwASN.replace(",", ",\n") }}</pre></li>
                {% endif %}
            </ul></td>
            <td class="domain-list-json"><textarea readonly>{{ whoisValue }}</textarea></td>
            <td class="domain-list-actions"><a href="javascript:refreshDomain('{{ lookedUpDomain }}')">Refresh</a><br>
                <a href="javascript:refreshDomain('{{ lookedUpDomain }}')">Delete</a></td>
        </tr>
        {% endfor %}
        </table>
    {% endif %}

    <script type="text/javascript">
        function refreshDomain(domain) {
            console.log("Refreshing " + domain)
            showNotification("Refreshing data...");
            setTimeout(function() {
                window.location.href = "{{ url_for('whois_refresh') }}?domain=" + domain;
            }, 1000);
        }
    </script>

{% endblock %}