<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/master.css') }}">
</head>
<body>
    <header>
        <h1>{% block header %} {% endblock %}</h1>
        <nav>
            <ul>
                <a href="{{ url_for('index') }}"><li>Home</li></a>
                <a href="{{ url_for('whois_start') }}"><li>Whois Lookup</li></a>
                <a href="{{ url_for('whois_list') }}"><li>My Domains</li></a>
                <a href="{{ url_for('logout') }}"><li>Logout</li></a>
            </ul>
        </nav>
    </header>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class=flashes>
            {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block footer %} {% endblock %}
</body>

</html>