{% extends 'base.html' %}

{% block title %} Whois {% endblock %}
{% block header %} Whois {% endblock %}

{% block content %}
    <form method="GET">
        <fieldset>
            <label for="domain">Domain</label>
            <input type="text" name="domain" id="domain" placeholder="example.com" value="{{ domain }}">
            <input type="submit" value="Submit">
        </fieldset>
    </form>
    {% if domain != "" %}
        <h2>Whois for {{ domain }}</h2>
        <pre>{{ whoisData }}</pre>
    {% endif %}
{% endblock %}